#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
};

/ {
  behaviors {
    mt_none: mod_tap_none {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        bindings = <&kp>, <&none>;
    };

    mt_bootloader: mod_tap_bootloader {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        bindings = <&kp>, <&bootloader>;
    };
  };

  combos {
    compatible = "zmk,combos";
    // Finger-position combos intentionally apply on all layers.

    combo_left_return {
        timeout-ms = <50>;
        key-positions = <11 12>;
        bindings = <&kp RETURN>;
    };

    combo_right_return {
        timeout-ms = <50>;
        key-positions = <17 18>;
        bindings = <&kp RETURN>;
    };

    combo_left_tab {
        timeout-ms = <50>;
        key-positions = <12 13>;
        bindings = <&kp TAB>;
    };

    combo_right_tab {
        timeout-ms = <50>;
        key-positions = <16 17>;
        bindings = <&kp TAB>;
    };
  };

	keymap {
		compatible = "zmk,keymap";

		layer_0 {
			bindings = <
        &kp Q      &kp W      &kp E      &mt LCTRL R &mt LSHIFT T &mt RSHIFT Y &mt RCTRL U &kp I      &kp O      &kp P
        &kp A      &kp S      &kp D      &kp F      &mt LALT G  &mt RALT H  &kp J      &kp K      &kp L      &kp SEMICOLON
        &kp Z      &kp X      &kp C      &kp V      &mt LGUI B  &mt RGUI N  &kp M      &kp COMMA  &kp DOT    &kp SLASH
                                        &lt 1 ESC  &kp SPACE   &kp BACKSPACE &mo 2
			>;
		};

		layer_1 {
			bindings = <
        &kp GRAVE  &kp MINUS  &kp EQUAL  &mt LCTRL BSLH &mt LSHIFT SQT &mt RSHIFT HOME &mt RCTRL PG_DN &kp PG_UP  &kp END    &kp DEL
        &kp N1     &kp N2     &kp N3     &kp N4     &mt LALT N5 &mt RALT LEFT &kp DOWN   &kp UP     &kp RIGHT  &kp INS
        &kp N6     &kp N7     &kp N8     &kp N9     &mt LGUI N0 &mt_none RGUI 0 &none      &kp LBKT   &kp RBKT   &none
                                        &none      &none      &none      &mo 3
			>;
		};

		layer_2 {
			bindings = <
        &none      &none      &none      &mt_none LCTRL 0 &mt_none LSHIFT 0 &mt_none RSHIFT 0 &mt_none RCTRL 0 &none      &none      &none
        &none      &none      &none      &none      &mt_none LALT 0 &mt_none RALT 0 &none      &none      &none      &none
        &none      &none      &none      &none      &mt_none LGUI 0 &mt_none RGUI 0 &none      &none      &none      &none
                                        &mo 3      &none      &none      &none
			>;
		};

		layer_3 {
			bindings = <
        &none      &none      &none      &mt_none LCTRL 0 &mt_bootloader LSHIFT 0 &mt_bootloader RSHIFT 0 &mt_none RCTRL 0 &none      &none      &none
        &kp F1     &kp F2     &kp F3     &kp F4     &mt_none LALT 0 &mt_none RALT 0 &none      &none      &none      &none
        &kp F6     &kp F7     &kp F8     &kp F9     &mt_none LGUI 0 &mt_none RGUI 0 &none      &none      &none      &none
                                        &none      &none       &none      &none
			>;
		};
	};
};
